body {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    box-shadow: 0 0 100px rgba(61, 118, 224, 0.774);
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(42, 110, 255);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
a:hover {
    text-decoration: underline;
    padding: 40px;
}
.centerbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.rainbow-text {
    display: inline-block;
    background: linear-gradient(90deg, red, orange, yellow, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s ease infinite;
}